*{
    margin:0;
    padding:0;
}

.container{
    background:url(pexels-veeterzy-39811.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.container .navbar{
width: 100%;
height: 90px;
background: rgba(160, 190, 172, 0.474);
}

.navbar .logo{
  display: inline-block;
margin-left: 70px;
margin-top: 10px;
}

.navbar .logo a{
    text-decoration: none;
font-size: 50px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #f3f3f3;
user-select: none;
}

.navbar ul{
float: right;
margin-right: 20px;
}

.navbar ul li{
list-style: none;
display: inline-block;
margin: 0 12px;
line-height: 80px;
}

.navbar ul li a{
color: white;
text-decoration: none;
font-size: 25px;
padding: 6px 10px;
font-family: 'Courier New', Courier, monospace;
font-weight: 700;
user-select: none;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: #52bb856a;
    border-radius: 20px;
    transition: .2s;
}

.container .center{
    position: absolute;
    top: 50%;
    left: 50%;
transform: translate(-50%,-50%);
font-family: sans-serif;
color: rgba(174, 174, 111, 0.816);
user-select: none;
}

.center h1{
    color: rgba(255, 255, 255, 0.816);
    font-size: 20px;
    font-weight: bold;
    border-radius: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 
                1px 1px 0 black,
                -1px 1px 0 black,
                1px -1px 0 black, 
                -1px -1px 0 black;
}

.center h2{
color: #b21c1ca8;
border-radius: 100px;
position: relative;
top: 3px;
margin: 30px;
bottom: 200px;
text-shadow: 
                1px 1px 0 black,
                -1px 1px 0 black,
                1px -1px 0 black, 
                -1px -1px 0 black;
}
.container button h1{
   background-color: rgba(222, 7, 7, 0.614);
   position: absolute;
   top: 50px;
}

.center .buttons{
margin: 35px;
bottom: 250px;
}

.buttons button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    color: #ffb3b3;
    background: rgb(207,96,88);
    border: solid 1px red;
    cursor: pointer;
    outline: none;
    transition: .5s;
    border-radius: 25px;
    text-shadow: 
                1px 1px 0 rgb(94, 89, 89),
                -1px 1px 0 rgb(94, 89, 89,)
                1px -1px 0 rgb(94, 89, 89)
                -1px -1px 0 rgb(94, 89, 89)
}
.buttons button:hover{
background: #fff;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 80%;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.modal-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
